.search {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    width: 15em;
    display: flex;
    align-items: center;
    /* padding: var(--padding); */
    margin-left: 20em;
    background: white;
    border-radius: 3em;
    box-shadow: .5px .5px 2px rgba(0, 0, 0, 0.5);
}

.search-input {
    padding: 6px;
    font-size: 16px;
    /* font-family:"Audiowide", sans-serif; */
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
    opacity: 0.5;
}

.search-icon {
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;

}

.container {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: 5px groove whitesmoke;
    padding: .6em 0;
    border-radius: .5em;
    align-items: center;
    position: sticky;
}

a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-family: Helvetica;
    font-variant: small-caps;
    display: flex;
    text-indent: 50px;
    letter-spacing: 1px;
    font-weight: 400;
}

a:hover {
    color: green;
    text-shadow: 0 0 1px green;
    font-family: sans-serif;
    transition: ease-in-out .2s;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
}

.login {
    margin-left: 10em;
}

.path {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: ultra-expanded;
    letter-spacing: 1px;
    margin-left: 7em;
}

.signup{
    background-color: rgba(241, 229, 214, 0.385);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 5em 0 5em 0;
}

.signup img{
    width: 230px;
    height: 230px;
    border-radius: 10em;
}

.signup button{
    background-color: black;
    color: white;
    padding: .8em 2em;
    border-radius: 1.5em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

button:hover{
    cursor:pointer;
}

.help-center{
    margin: 0 10% 0 10%;
    background-color: rgba(201, 224, 224, 0.297);
    border-bottom:1px ridge rgba(128, 128, 128, 0.619);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2em;
    padding: 1em;
}

span{
    float: right;
    /* margin-right: .5em; */
}

span:hover{
    color: green;
    cursor: pointer;
}

footer {
    background-color: #18452b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    margin: 5em 0;
    padding: 4em 0;
}

footer b {
    font-size: 18px;
    font-family: Helvetica;
}

ul {
    list-style-type: none;
    line-height: 3;
}

li:hover {
    color: #666565;
    cursor: pointer;
}

#login-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #292828ca;
    z-index: 1000;
}

.modal{
    background-color: white;
    padding: 2.5em 2.5em 2em 1.5em;
    width: 650px;
    border-radius: 2em;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.top-form{
    display: flex;
    justify-content: flex-end;
}

.close-modal{
    color: green;
    cursor: pointer;
    font-size: 12px;
}

.login-form h2{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
}

.login-form input{
    width: 100%;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #666565b2;
    color: #66656559;
    
}

.login-form input:focus{
    outline: none;
}

.login-form p{
    font-weight: 500;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4px;
}

.login-form button{
    margin: 3em 12em 2em ;
    padding: 1em 12em;
    border-radius: 3em;
    border: none;
    background-color: rgb(19, 105, 52);
    color: white;
}

.login-form button:hover{
    background-color: #18452b;
}
